In [11]:
#import librairie numpy pour tableau / vecteur / matrice
import numpy as np

#création matrice ne pas oublier les crochets qui englobent la matrice, les parentheses pour le tout
matrice = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

In [12]:
print(matrice)

[[1 2 3 4]
 [5 6 7 8]]

In [13]:
# pour voir le tuple des propriétés de la matrice lignes/ colonne
matrice.shape

(2, 4)

In [15]:
vector = np.array([10, 20, 30])
vector

array([10, 20, 30])

In [16]:
matrix = np.array([[5, 10, 15], [20, 25, 30], [35, 40, 45]])
matrix

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [17]:
vector.shape

(3,)

In [18]:
vector_shape = vector.shape
vector_shape

(3,)

In [19]:
matrix_shape = matrix.shape
matrix_shape

(3, 3)

In [21]:
import numpy as np
world_alcohol = np.genfromtxt("/home/francis/Téléchargements/world_alcohol.csv", delimiter=',')

In [22]:
print(type(world_alcohol))

<class 'numpy.ndarray'>

In [24]:
world_alcohol.dtype

dtype('float64')

In [25]:
print(world_alcohol.dtype)

float64

In [26]:
world_alcohol

array([[      nan,       nan,       nan,       nan,       nan],
       [1.986e+03,       nan,       nan,       nan, 0.000e+00],
       [1.986e+03,       nan,       nan,       nan, 5.000e-01],
       ...,
       [1.986e+03,       nan,       nan,       nan, 2.540e+00],
       [1.987e+03,       nan,       nan,       nan, 0.000e+00],
       [1.986e+03,       nan,       nan,       nan, 5.150e+00]])

In [27]:
import numpy as np
# ajout du parametre dtype = U75 pour affichage comprehensible
world_alcohol = np.genfromtxt("/home/francis/Téléchargements/world_alcohol.csv", delimiter=',', dtype = "U75")

In [28]:
world_alcohol

array([['Year', 'WHO region', 'Country', 'Beverage Types',
        'Display Value'],
       ['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

In [30]:
#pour faire des opérations, on supprime l'entête avec le parametre skip_header=1
world_alcohol = np.genfromtxt("/home/francis/Téléchargements/world_alcohol.csv", delimiter=',', dtype = "U75", skip_header=1)
world_alcohol

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

In [32]:
# extraire une valeur depuis un tableau numpy, trouver la position

matrix = np.array([[5, 10, 15], [20, 25, 30], [35, 40, 45]])
# position ligne puis position colonne
matrix[0,2]

15

In [33]:
ivoire_1985 = world_alcohol[2,4]
ivoire_1985

'1.62'

In [36]:
second_country = world_alcohol[1,2]
second_country

'Uruguay'

In [37]:
# selection de toutes les données lignes d'une colonne [:,]
world_alcohol[:,0] # extraction de la première colonne

array(['1986', '1986', '1985', ..., '1986', '1987', '1986'], dtype='<U75')

In [38]:
#selection de toutes les données colonnes d'une ligne [,:]
world_alcohol[0,:] # extraction de la premiere ligne

array(['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'], dtype='<U75')

In [40]:
countries = world_alcohol[:,2]
countries

array(['Viet Nam', 'Uruguay', "Cte d'Ivoire", ..., 'Switzerland',
       'Papua New Guinea', 'Swaziland'], dtype='<U75')

In [41]:
alcohol_consumption = world_alcohol[:,4]
alcohol_consumption

array(['0', '0.5', '1.62', ..., '2.54', '0', '5.15'], dtype='<U75')

In [45]:
# extraction d'une portion de tableau
world_alcohol[:,2:3] # élément ligne , élément colonne

array([['Viet Nam'],
       ['Uruguay'],
       ["Cte d'Ivoire"],
       ...,
       ['Switzerland'],
       ['Papua New Guinea'],
       ['Swaziland']], dtype='<U75')

In [47]:
first_two_columns = world_alcohol[:,0:2]
first_two_columns

array([['1986', 'Western Pacific'],
       ['1986', 'Americas'],
       ['1985', 'Africa'],
       ...,
       ['1986', 'Europe'],
       ['1987', 'Western Pacific'],
       ['1986', 'Africa']], dtype='<U75')

In [51]:
first_ten_years = world_alcohol[0:10,0]
first_ten_years

array(['1986', '1986', '1985', '1986', '1987', '1987', '1987', '1985',
       '1986', '1984'], dtype='<U75')

In [52]:
first_ten_rows = world_alcohol[0:10,:]
first_ten_rows

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ['1986', 'Americas', 'Colombia', 'Beer', '4.27'],
       ['1987', 'Americas', 'Saint Kitts and Nevis', 'Beer', '1.98'],
       ['1987', 'Americas', 'Guatemala', 'Other', '0'],
       ['1987', 'Africa', 'Mauritius', 'Wine', '0.13'],
       ['1985', 'Africa', 'Angola', 'Spirits', '0.39'],
       ['1986', 'Americas', 'Antigua and Barbuda', 'Spirits', '1.55'],
       ['1984', 'Africa', 'Nigeria', 'Other', '6.1']], dtype='<U75')

In [54]:
first_twenty_regions = world_alcohol[0:20,1:3]
first_twenty_regions

array([['Western Pacific', 'Viet Nam'],
       ['Americas', 'Uruguay'],
       ['Africa', "Cte d'Ivoire"],
       ['Americas', 'Colombia'],
       ['Americas', 'Saint Kitts and Nevis'],
       ['Americas', 'Guatemala'],
       ['Africa', 'Mauritius'],
       ['Africa', 'Angola'],
       ['Americas', 'Antigua and Barbuda'],
       ['Africa', 'Nigeria'],
       ['Africa', 'Botswana'],
       ['Americas', 'Guatemala'],
       ['Western Pacific', "Lao People's Democratic Republic"],
       ['Eastern Mediterranean', 'Afghanistan'],
       ['Western Pacific', 'Viet Nam'],
       ['Africa', 'Guinea-Bissau'],
       ['Americas', 'Costa Rica'],
       ['Africa', 'Seychelles'],
       ['Europe', 'Norway'],
       ['Africa', 'Kenya']], dtype='<U75')

In [68]:
region = world_alcohol[:,1:2]
data = world_alcohol[:,4:5]
print (region)
print (data)

[['Western Pacific']
 ['Americas']
 ['Africa']
 ...
 ['Europe']
 ['Western Pacific']
 ['Africa']]
[['0']
 ['0.5']
 ['1.62']
 ...
 ['2.54']
 ['0']
 ['5.15']]

In [70]:
# comparaison

matrix == 10

array([[False,  True, False],
       [False, False, False],
       [False, False, False]])

In [71]:
matrix

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [94]:
vector

array([10, 20, 30])

In [98]:
# comparaison avec plusieurs conditions : &
equal_to_ten_and_twenty = (vector == 10) & (vector == 20)
equal_to_ten_and_twenty

array([False, False, False])

In [99]:
# comparaison avec plusieurs conditions : or
equal_to_ten_or_twenty = (vector == 10) | (vector == 20)
equal_to_ten_or_twenty

array([ True,  True, False])

In [72]:
matrix == 25

array([[False, False, False],
       [False,  True, False],
       [False, False, False]])

In [80]:
countries_canada = (world_alcohol[:,2:3] == 'Canada')
countries_canada

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [93]:
years_is_1984 = world_alcohol[:,0] == '1984'
years_1984 = world_alcohol[years_is_1984]
print(years_1984)

[['1984' 'Africa' 'Nigeria' 'Other' '6.1']
 ['1984' 'Eastern Mediterranean' 'Afghanistan' 'Other' '0']
 ['1984' 'Americas' 'Costa Rica' 'Wine' '0.06']
 ...
 ['1984' 'Europe' 'Latvia' 'Spirits' '7.5']
 ['1984' 'Africa' 'Angola' 'Wine' '0.57']
 ['1984' 'Africa' 'Central African Republic' 'Wine' '0.46']]

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [89]:

# afficher toutes les lignes contenant 'Algeria' dans la 3ème colonne dans le df

country_is_algeria = world_alcohol[:,2] == 'Algeria'
print(world_alcohol[country_is_algeria,:])

[['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']
 ['1984' 'Africa' 'Algeria' 'Beer' '0.2']
 ['1985' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Wine' '0.1']]

In [108]:
# faire apparaitre toutes les lignes contenant 2 conditions
is_algeria_and_1986 = (world_alcohol[:,2] == 'Algeria') & (world_alcohol[:,0] == '1986')
rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986,:]
rows_with_algeria_and_1986

array([['1986', 'Africa', 'Algeria', 'Wine', '0.1'],
       ['1986', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1986', 'Africa', 'Algeria', 'Beer', '0.18'],
       ['1986', 'Africa', 'Algeria', 'Other', '0']], dtype='<U75')